:root {
    --primary-color: #7B8CDE  ;
    --secondary-color: #c0e6de ;
    --accent1-color: #E88D67;
    --accent2-color: #BB999C;

}

#content {
    max-width: 1600px;
    margin: 0 auto;

}

nav a {
    text-align: center;

}

nav a:hover {
    background-color: var(--accent2-color);

}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;

}

.button-box {
    text-align: center;

}

main section {
    text-align: center;
    
}

#background {
    height: 725px;
    background-color: var(--secondary-color);

}

body {
    background-color: var(--primary-color);

}

header {
    background-color: var(--secondary-color);

}

.book,
.join {
    background-color: var(--secondary-color);

}

.book:hover,
.join:hover {
    background-color: var(--secondary-color);

}

.msg {
    background-color: var(--secondary-color);

}

footer {
    background-color: var(--secondary-color);
}